<%@ page language="java" contentType="text/html; charset=ISO-8859-1"
    pageEncoding="ISO-8859-1"%>
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>welcome to login </title>
</head>
<body>
 <form action="login">
  <table style=back >
  <tr><td>Username : </td> <td><input type ="text" name = "name"></td></tr>
  <tr><td>password : </td> <td><input type ="password" name = "password"></td></tr>
  <tr><td><input type = "submit" name="submit" value ="login"> </td><td><a href = "registration.jsp">Registration</a></td></tr>
  </table>
 
 </form>
</body>
</html>